aiofiles>=23.1.0
aioshutil
apscheduler # For task scheduling
asyncio
electrogram
httpx
psutil # For stats module
pytz # Timezone library, likely for apscheduler or logging
requests
uvloop # For pyrogram/core networking
git+https://github.com/shabbirmahmud/streamrip.git@dev
python-magic