asyncio
aiofiles>=23.1.0
aioshutil
anytree
apscheduler
aioaria2
aioqbt
aient
beautifulsoup4
git+https://github.com/cinemagoer/cinemagoer
cloudscraper
cryptography>=41.0.0
codext>=1.15.6
dnspython
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
gallery-dl
httpx
jinja2
kurigram
langcodes
lxml
md2tgmd
natsort
orjson
pycountry
pillow
psutil
pymongo
pyshorteners
python-magic
pytz
PyMuPDF
pytdbot[tdjson]
reportlab>=4.0.0
requests
speedtest-cli
tmdb3
tgcrypto
telegraph
tenacity
toml
uvicorn
uvloop
vt-py>=0.17.5
xattr
yt-dlp[default,curl-cffi]
git+https://github.com/shabbirmahmud/streamrip.git@dev
git+https://github.com/DraftKinner/zotify.git@dev
